{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name, {'label': 'form.product.name'}) }}
    <button class="btn btn-success">{% if edit %}Update{% else %}Save{% endif %}</button>
{{ form_end(form) }}
