{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>PublishedAt</th>
                <th>Slug</th>
                <th>QuantityInStock</th>
                <th>Sku</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.publishedAt ? product.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.quantityInStock }}</td>
                <td>{{ product.sku }}</td>
                <td>
                    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}">Edit</a>
                    <a href="{{ path('app_admin_product_pictures', {'id': product.id}) }}">Pictures</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_new') }}">Create new</a>
{% endblock %}
