{% extends 'base.html.twig' %}

{% block title %}Tva index{% endblock %}

{% block body %}
    <h1>Tva index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Rate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tva in tvas %}
            <tr>
                <td>{{ tva.id }}</td>
                <td>{{ tva.name }}</td>
                <td>{{ tva.rate }}</td>
                <td>
                    <a href="{{ path('app_admin_tva_show', {'id': tva.id}) }}">show</a>
                    <a href="{{ path('app_admin_tva_edit', {'id': tva.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_tva_new') }}">Create new</a>
{% endblock %}
