@import '~@picocss/pico/scss/pico';

@font-face {
    font-family: 'SANTA-IN-CHRISTMAS';
    src: url('../fonts/SANTA-IN-CHRISTMAS.ttf.woff') format('woff'),
        url('../fonts/SANTA-IN-CHRISTMAS.ttf.svg#SANTA-IN-CHRISTMAS') format('svg'),
        url('../fonts/SANTA-IN-CHRISTMAS.ttf.eot'),
        url('../fonts/SANTA-IN-CHRISTMAS.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'SANTA-IN-CHRISTMAS' !important;
}
