{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    {% for product in products %} 
        <h2>{{ product.name }}</h2>
        <h2>{{ product.price|format_currency('EUR') }}</h2>
        <a class="btn btn-success" href="{{ path('app_detail_product', {slug: product.slug}) }}">Détails</a>
    {% endfor %}
{% endblock %}
