{% extends 'base.html.twig' %}

{% block title %}Presentation in english{% endblock %}

{% block body %}
<p>Li d'vwèr dès me°sses di scole, c'èst d' fé frudjî lès capåcités d' chaskeun' èt d' mî fé rèspècter lès dreûts d' l'
    ome èt lès prumîrès lîbèrtés. C' è-st-ossi d' aminer lès djints d'totes lès nåcions, di totes lès races, di totes
    lès r' lidjons a s' mî comprinde, a s' mî supwèrter, a s' mî inmer. C'è-st anfin d'e°dî lès Nåcions-Unèyes a todi mî
    ovrer po qui l' monde wåde li påye.</p>

<p>Nouk ni pout-èsse condanné po dès fe°ts ou po dès måquemints qu' n' alît nin conte li dreût nacionål ou internacionål
    å moumint qu' ont stu comètous. Et tot fî parèy ni pout-i èsse condanné pus deûremint qu'i l'åreût stu å minme
    moumint, d'après li lwè.</p>

<p>Tos lès-omes vinèt å monde lîbes èt égåls po çou qu'èst d' leû dignité èt d' leûs dreûts. Leû re°zon èt leû consyince
    elzî fe°t on d'vwér di s'kidûre inte di zèle come dès frès.</p>

<p>Tos lès-omes sont égåals divant li lwè, qu'èlzès deût protéjer, sins nole préfèrince po onk ou po l'ôte, çou qu'
    sèreût contre°re al prézinte Déclaråcion Parèlièmint, li lwè 'lzès deût protéjer conte lès cis qu' vôrît ric'mander
    'ne téle sôr di préfèrince.</p>

<p>Li d'vwèr dès me°sses di scole, c'èst d' fé frudjî lès capåcités d' chaskeun' èt d' mî fé rèspècter lès dreûts d' l'
    ome èt lès prumîrès lîbèrtés. C' è-st-ossi d' aminer lès djints d'totes lès nåcions, di totes lès races, di totes
    lès r' lidjons a s' mî comprinde, a s' mî supwèrter, a s' mî inmer. C'è-st anfin d'e°dî lès Nåcions-Unèyes a todi mî
    ovrer po qui l' monde wåde li påye.</p>
{% endblock %}